---
---

div.menu-small{
	display:block;
	margin-left: auto;
	margin-right: auto;
}
div.menu-big{
	display:none;
}

@media(min-width: 567px){
	div.menu-small{
		display:none;
	}
	div.menu-big{
		display:block;
	}
}
